.bg-black { background-color: rgb(0, 0, 0); }
.bg-grey1 { background-color: rgb(1, 1, 1); }
.bg-grey2 { background-color: rgb(2, 2, 2); }
.bg-grey3 { background-color: rgb(3, 3, 3); }
.bg-grey4 { background-color: rgb(4, 4, 4); }
.bg-grey5 { background-color: rgb(5, 5, 5); }
.bg-grey6 { background-color: rgb(6, 6, 6); }
.bg-grey7 { background-color: rgb(7, 7, 7); }
.bg-grey8 { background-color: rgb(8, 8, 8); }
.bg-grey9 { background-color: rgb(9, 9, 9); }
.bg-grey10 { background-color: rgb(10, 10, 10); }
.bg-grey11 { background-color: rgb(11, 11, 11); }
.bg-grey12 { background-color: rgb(12, 12, 12); }
.bg-grey13 { background-color: rgb(13, 13, 13); }
.bg-grey14 { background-color: rgb(14, 14, 14); }
.bg-grey15 { background-color: rgb(15, 15, 15); }
.bg-grey16 { background-color: rgb(16, 16, 16); }
.bg-grey17 { background-color: rgb(17, 17, 17); }
.bg-grey18 { background-color: rgb(18, 18, 18); }
.bg-grey19 { background-color: rgb(19, 19, 19); }
.bg-grey20 { background-color: rgb(20, 20, 20); }
.bg-grey21 { background-color: rgb(21, 21, 21); }
.bg-grey22 { background-color: rgb(22, 22, 22); }
.bg-grey23 { background-color: rgb(23, 23, 23); }
.bg-grey24 { background-color: rgb(24, 24, 24); }
.bg-grey25 { background-color: rgb(25, 25, 25); }
.bg-grey26 { background-color: rgb(26, 26, 26); }
.bg-grey27 { background-color: rgb(27, 27, 27); }
.bg-grey28 { background-color: rgb(28, 28, 28); }
.bg-grey29 { background-color: rgb(29, 29, 29); }
.bg-grey30 { background-color: rgb(30, 30, 30); }
.bg-grey31 { background-color: rgb(31, 31, 31); }
.bg-grey32 { background-color: rgb(32, 32, 32); }
.bg-grey33 { background-color: rgb(33, 33, 33); }
.bg-grey34 { background-color: rgb(34, 34, 34); }
.bg-grey35 { background-color: rgb(35, 35, 35); }
.bg-grey36 { background-color: rgb(36, 36, 36); }
.bg-grey37 { background-color: rgb(37, 37, 37); }
.bg-grey38 { background-color: rgb(38, 38, 38); }
.bg-grey39 { background-color: rgb(39, 39, 39); }
.bg-grey40 { background-color: rgb(40, 40, 40); }
.bg-grey41 { background-color: rgb(41, 41, 41); }
.bg-grey42 { background-color: rgb(42, 42, 42); }
.bg-grey43 { background-color: rgb(43, 43, 43); }
.bg-grey44 { background-color: rgb(44, 44, 44); }
.bg-grey45 { background-color: rgb(45, 45, 45); }
.bg-grey46 { background-color: rgb(46, 46, 46); }
.bg-grey47 { background-color: rgb(47, 47, 47); }
.bg-grey48 { background-color: rgb(48, 48, 48); }
.bg-grey49 { background-color: rgb(49, 49, 49); }
.bg-grey50 { background-color: rgb(50, 50, 50); }
.bg-grey51 { background-color: rgb(51, 51, 51); }
.bg-grey52 { background-color: rgb(52, 52, 52); }
.bg-grey53 { background-color: rgb(53, 53, 53); }
.bg-grey54 { background-color: rgb(54, 54, 54); }
.bg-grey55 { background-color: rgb(55, 55, 55); }
.bg-grey56 { background-color: rgb(56, 56, 56); }
.bg-grey57 { background-color: rgb(57, 57, 57); }
.bg-grey58 { background-color: rgb(58, 58, 58); }
.bg-grey59 { background-color: rgb(59, 59, 59); }
.bg-grey60 { background-color: rgb(60, 60, 60); }
.bg-grey61 { background-color: rgb(61, 61, 61); }
.bg-grey62 { background-color: rgb(62, 62, 62); }
.bg-grey63 { background-color: rgb(63, 63, 63); }
.bg-grey64 { background-color: rgb(64, 64, 64); }
.bg-grey65 { background-color: rgb(65, 65, 65); }
.bg-grey66 { background-color: rgb(66, 66, 66); }
.bg-grey67 { background-color: rgb(67, 67, 67); }
.bg-grey68 { background-color: rgb(68, 68, 68); }
.bg-grey69 { background-color: rgb(69, 69, 69); }
.bg-grey70 { background-color: rgb(70, 70, 70); }
.bg-grey71 { background-color: rgb(71, 71, 71); }
.bg-grey72 { background-color: rgb(72, 72, 72); }
.bg-grey73 { background-color: rgb(73, 73, 73); }
.bg-grey74 { background-color: rgb(74, 74, 74); }
.bg-grey75 { background-color: rgb(75, 75, 75); }
.bg-grey76 { background-color: rgb(76, 76, 76); }
.bg-grey77 { background-color: rgb(77, 77, 77); }
.bg-grey78 { background-color: rgb(78, 78, 78); }
.bg-grey79 { background-color: rgb(79, 79, 79); }
.bg-grey80 { background-color: rgb(80, 80, 80); }
.bg-grey81 { background-color: rgb(81, 81, 81); }
.bg-grey82 { background-color: rgb(82, 82, 82); }
.bg-grey83 { background-color: rgb(83, 83, 83); }
.bg-grey84 { background-color: rgb(84, 84, 84); }
.bg-grey85 { background-color: rgb(85, 85, 85); }
.bg-grey86 { background-color: rgb(86, 86, 86); }
.bg-grey87 { background-color: rgb(87, 87, 87); }
.bg-grey88 { background-color: rgb(88, 88, 88); }
.bg-grey89 { background-color: rgb(89, 89, 89); }
.bg-grey90 { background-color: rgb(90, 90, 90); }
.bg-grey91 { background-color: rgb(91, 91, 91); }
.bg-grey92 { background-color: rgb(92, 92, 92); }
.bg-grey93 { background-color: rgb(93, 93, 93); }
.bg-grey94 { background-color: rgb(94, 94, 94); }
.bg-grey95 { background-color: rgb(95, 95, 95); }
.bg-grey96 { background-color: rgb(96, 96, 96); }
.bg-grey97 { background-color: rgb(97, 97, 97); }
.bg-grey98 { background-color: rgb(98, 98, 98); }
.bg-grey99 { background-color: rgb(99, 99, 99); }
.bg-grey100 { background-color: rgb(100, 100, 100); }
.bg-grey101 { background-color: rgb(101, 101, 101); }
.bg-grey102 { background-color: rgb(102, 102, 102); }
.bg-grey103 { background-color: rgb(103, 103, 103); }
.bg-grey104 { background-color: rgb(104, 104, 104); }
.bg-grey105 { background-color: rgb(105, 105, 105); }
.bg-grey106 { background-color: rgb(106, 106, 106); }
.bg-grey107 { background-color: rgb(107, 107, 107); }
.bg-grey108 { background-color: rgb(108, 108, 108); }
.bg-grey109 { background-color: rgb(109, 109, 109); }
.bg-grey110 { background-color: rgb(110, 110, 110); }
.bg-grey111 { background-color: rgb(111, 111, 111); }
.bg-grey112 { background-color: rgb(112, 112, 112); }
.bg-grey113 { background-color: rgb(113, 113, 113); }
.bg-grey114 { background-color: rgb(114, 114, 114); }
.bg-grey115 { background-color: rgb(115, 115, 115); }
.bg-grey116 { background-color: rgb(116, 116, 116); }
.bg-grey117 { background-color: rgb(117, 117, 117); }
.bg-grey118 { background-color: rgb(118, 118, 118); }
.bg-grey119 { background-color: rgb(119, 119, 119); }
.bg-grey120 { background-color: rgb(120, 120, 120); }
.bg-grey121 { background-color: rgb(121, 121, 121); }
.bg-grey122 { background-color: rgb(122, 122, 122); }
.bg-grey123 { background-color: rgb(123, 123, 123); }
.bg-grey124 { background-color: rgb(124, 124, 124); }
.bg-grey125 { background-color: rgb(125, 125, 125); }
.bg-grey126 { background-color: rgb(126, 126, 126); }
.bg-grey127 { background-color: rgb(127, 127, 127); }
.bg-grey128 { background-color: rgb(128, 128, 128); }
.bg-grey129 { background-color: rgb(129, 129, 129); }
.bg-grey130 { background-color: rgb(130, 130, 130); }
.bg-grey131 { background-color: rgb(131, 131, 131); }
.bg-grey132 { background-color: rgb(132, 132, 132); }
.bg-grey133 { background-color: rgb(133, 133, 133); }
.bg-grey134 { background-color: rgb(134, 134, 134); }
.bg-grey135 { background-color: rgb(135, 135, 135); }
.bg-grey136 { background-color: rgb(136, 136, 136); }
.bg-grey137 { background-color: rgb(137, 137, 137); }
.bg-grey138 { background-color: rgb(138, 138, 138); }
.bg-grey139 { background-color: rgb(139, 139, 139); }
.bg-grey140 { background-color: rgb(140, 140, 140); }
.bg-grey141 { background-color: rgb(141, 141, 141); }
.bg-grey142 { background-color: rgb(142, 142, 142); }
.bg-grey143 { background-color: rgb(143, 143, 143); }
.bg-grey144 { background-color: rgb(144, 144, 144); }
.bg-grey145 { background-color: rgb(145, 145, 145); }
.bg-grey146 { background-color: rgb(146, 146, 146); }
.bg-grey147 { background-color: rgb(147, 147, 147); }
.bg-grey148 { background-color: rgb(148, 148, 148); }
.bg-grey149 { background-color: rgb(149, 149, 149); }
.bg-grey150 { background-color: rgb(150, 150, 150); }
.bg-grey151 { background-color: rgb(151, 151, 151); }
.bg-grey152 { background-color: rgb(152, 152, 152); }
.bg-grey153 { background-color: rgb(153, 153, 153); }
.bg-grey154 { background-color: rgb(154, 154, 154); }
.bg-grey155 { background-color: rgb(155, 155, 155); }
.bg-grey156 { background-color: rgb(156, 156, 156); }
.bg-grey157 { background-color: rgb(157, 157, 157); }
.bg-grey158 { background-color: rgb(158, 158, 158); }
.bg-grey159 { background-color: rgb(159, 159, 159); }
.bg-grey160 { background-color: rgb(160, 160, 160); }
.bg-grey161 { background-color: rgb(161, 161, 161); }
.bg-grey162 { background-color: rgb(162, 162, 162); }
.bg-grey163 { background-color: rgb(163, 163, 163); }
.bg-grey164 { background-color: rgb(164, 164, 164); }
.bg-grey165 { background-color: rgb(165, 165, 165); }
.bg-grey166 { background-color: rgb(166, 166, 166); }
.bg-grey167 { background-color: rgb(167, 167, 167); }
.bg-grey168 { background-color: rgb(168, 168, 168); }
.bg-grey169 { background-color: rgb(169, 169, 169); }
.bg-grey170 { background-color: rgb(170, 170, 170); }
.bg-grey171 { background-color: rgb(171, 171, 171); }
.bg-grey172 { background-color: rgb(172, 172, 172); }
.bg-grey173 { background-color: rgb(173, 173, 173); }
.bg-grey174 { background-color: rgb(174, 174, 174); }
.bg-grey175 { background-color: rgb(175, 175, 175); }
.bg-grey176 { background-color: rgb(176, 176, 176); }
.bg-grey177 { background-color: rgb(177, 177, 177); }
.bg-grey178 { background-color: rgb(178, 178, 178); }
.bg-grey179 { background-color: rgb(179, 179, 179); }
.bg-grey180 { background-color: rgb(180, 180, 180); }
.bg-grey181 { background-color: rgb(181, 181, 181); }
.bg-grey182 { background-color: rgb(182, 182, 182); }
.bg-grey183 { background-color: rgb(183, 183, 183); }
.bg-grey184 { background-color: rgb(184, 184, 184); }
.bg-grey185 { background-color: rgb(185, 185, 185); }
.bg-grey186 { background-color: rgb(186, 186, 186); }
.bg-grey187 { background-color: rgb(187, 187, 187); }
.bg-grey188 { background-color: rgb(188, 188, 188); }
.bg-grey189 { background-color: rgb(189, 189, 189); }
.bg-grey190 { background-color: rgb(190, 190, 190); }
.bg-grey191 { background-color: rgb(191, 191, 191); }
.bg-grey192 { background-color: rgb(192, 192, 192); }
.bg-grey193 { background-color: rgb(193, 193, 193); }
.bg-grey194 { background-color: rgb(194, 194, 194); }
.bg-grey195 { background-color: rgb(195, 195, 195); }
.bg-grey196 { background-color: rgb(196, 196, 196); }
.bg-grey197 { background-color: rgb(197, 197, 197); }
.bg-grey198 { background-color: rgb(198, 198, 198); }
.bg-grey199 { background-color: rgb(199, 199, 199); }
.bg-grey200 { background-color: rgb(200, 200, 200); }
.bg-grey201 { background-color: rgb(201, 201, 201); }
.bg-grey202 { background-color: rgb(202, 202, 202); }
.bg-grey203 { background-color: rgb(203, 203, 203); }
.bg-grey204 { background-color: rgb(204, 204, 204); }
.bg-grey205 { background-color: rgb(205, 205, 205); }
.bg-grey206 { background-color: rgb(206, 206, 206); }
.bg-grey207 { background-color: rgb(207, 207, 207); }
.bg-grey208 { background-color: rgb(208, 208, 208); }
.bg-grey209 { background-color: rgb(209, 209, 209); }
.bg-grey210 { background-color: rgb(210, 210, 210); }
.bg-grey211 { background-color: rgb(211, 211, 211); }
.bg-grey212 { background-color: rgb(212, 212, 212); }
.bg-grey213 { background-color: rgb(213, 213, 213); }
.bg-grey214 { background-color: rgb(214, 214, 214); }
.bg-grey215 { background-color: rgb(215, 215, 215); }
.bg-grey216 { background-color: rgb(216, 216, 216); }
.bg-grey217 { background-color: rgb(217, 217, 217); }
.bg-grey218 { background-color: rgb(218, 218, 218); }
.bg-grey219 { background-color: rgb(219, 219, 219); }
.bg-grey220 { background-color: rgb(220, 220, 220); }
.bg-grey221 { background-color: rgb(221, 221, 221); }
.bg-grey222 { background-color: rgb(222, 222, 222); }
.bg-grey223 { background-color: rgb(223, 223, 223); }
.bg-grey224 { background-color: rgb(224, 224, 224); }
.bg-grey225 { background-color: rgb(225, 225, 225); }
.bg-grey226 { background-color: rgb(226, 226, 226); }
.bg-grey227 { background-color: rgb(227, 227, 227); }
.bg-grey228 { background-color: rgb(228, 228, 228); }
.bg-grey229 { background-color: rgb(229, 229, 229); }
.bg-grey230 { background-color: rgb(230, 230, 230); }
.bg-grey231 { background-color: rgb(231, 231, 231); }
.bg-grey232 { background-color: rgb(232, 232, 232); }
.bg-grey233 { background-color: rgb(233, 233, 233); }
.bg-grey234 { background-color: rgb(234, 234, 234); }
.bg-grey235 { background-color: rgb(235, 235, 235); }
.bg-grey236 { background-color: rgb(236, 236, 236); }
.bg-grey237 { background-color: rgb(237, 237, 237); }
.bg-grey238 { background-color: rgb(238, 238, 238); }
.bg-grey239 { background-color: rgb(239, 239, 239); }
.bg-grey240 { background-color: rgb(240, 240, 240); }
.bg-grey241 { background-color: rgb(241, 241, 241); }
.bg-grey242 { background-color: rgb(242, 242, 242); }
.bg-grey243 { background-color: rgb(243, 243, 243); }
.bg-grey244 { background-color: rgb(244, 244, 244); }
.bg-grey245 { background-color: rgb(245, 245, 245); }
.bg-grey246 { background-color: rgb(246, 246, 246); }
.bg-grey247 { background-color: rgb(247, 247, 247); }
.bg-grey248 { background-color: rgb(248, 248, 248); }
.bg-grey249 { background-color: rgb(249, 249, 249); }
.bg-grey250 { background-color: rgb(250, 250, 250); }
.bg-grey251 { background-color: rgb(251, 251, 251); }
.bg-grey252 { background-color: rgb(252, 252, 252); }
.bg-grey253 { background-color: rgb(253, 253, 253); }
.bg-grey254 { background-color: rgb(254, 254, 254); }
.bg-white { background-color: rgb(255, 255, 255); }

.fg-black { color: rgb(0, 0, 0); }
.fg-grey1 { color: rgb(1, 1, 1); }
.fg-grey2 { color: rgb(2, 2, 2); }
.fg-grey3 { color: rgb(3, 3, 3); }
.fg-grey4 { color: rgb(4, 4, 4); }
.fg-grey5 { color: rgb(5, 5, 5); }
.fg-grey6 { color: rgb(6, 6, 6); }
.fg-grey7 { color: rgb(7, 7, 7); }
.fg-grey8 { color: rgb(8, 8, 8); }
.fg-grey9 { color: rgb(9, 9, 9); }
.fg-grey10 { color: rgb(10, 10, 10); }
.fg-grey11 { color: rgb(11, 11, 11); }
.fg-grey12 { color: rgb(12, 12, 12); }
.fg-grey13 { color: rgb(13, 13, 13); }
.fg-grey14 { color: rgb(14, 14, 14); }
.fg-grey15 { color: rgb(15, 15, 15); }
.fg-grey16 { color: rgb(16, 16, 16); }
.fg-grey17 { color: rgb(17, 17, 17); }
.fg-grey18 { color: rgb(18, 18, 18); }
.fg-grey19 { color: rgb(19, 19, 19); }
.fg-grey20 { color: rgb(20, 20, 20); }
.fg-grey21 { color: rgb(21, 21, 21); }
.fg-grey22 { color: rgb(22, 22, 22); }
.fg-grey23 { color: rgb(23, 23, 23); }
.fg-grey24 { color: rgb(24, 24, 24); }
.fg-grey25 { color: rgb(25, 25, 25); }
.fg-grey26 { color: rgb(26, 26, 26); }
.fg-grey27 { color: rgb(27, 27, 27); }
.fg-grey28 { color: rgb(28, 28, 28); }
.fg-grey29 { color: rgb(29, 29, 29); }
.fg-grey30 { color: rgb(30, 30, 30); }
.fg-grey31 { color: rgb(31, 31, 31); }
.fg-grey32 { color: rgb(32, 32, 32); }
.fg-grey33 { color: rgb(33, 33, 33); }
.fg-grey34 { color: rgb(34, 34, 34); }
.fg-grey35 { color: rgb(35, 35, 35); }
.fg-grey36 { color: rgb(36, 36, 36); }
.fg-grey37 { color: rgb(37, 37, 37); }
.fg-grey38 { color: rgb(38, 38, 38); }
.fg-grey39 { color: rgb(39, 39, 39); }
.fg-grey40 { color: rgb(40, 40, 40); }
.fg-grey41 { color: rgb(41, 41, 41); }
.fg-grey42 { color: rgb(42, 42, 42); }
.fg-grey43 { color: rgb(43, 43, 43); }
.fg-grey44 { color: rgb(44, 44, 44); }
.fg-grey45 { color: rgb(45, 45, 45); }
.fg-grey46 { color: rgb(46, 46, 46); }
.fg-grey47 { color: rgb(47, 47, 47); }
.fg-grey48 { color: rgb(48, 48, 48); }
.fg-grey49 { color: rgb(49, 49, 49); }
.fg-grey50 { color: rgb(50, 50, 50); }
.fg-grey51 { color: rgb(51, 51, 51); }
.fg-grey52 { color: rgb(52, 52, 52); }
.fg-grey53 { color: rgb(53, 53, 53); }
.fg-grey54 { color: rgb(54, 54, 54); }
.fg-grey55 { color: rgb(55, 55, 55); }
.fg-grey56 { color: rgb(56, 56, 56); }
.fg-grey57 { color: rgb(57, 57, 57); }
.fg-grey58 { color: rgb(58, 58, 58); }
.fg-grey59 { color: rgb(59, 59, 59); }
.fg-grey60 { color: rgb(60, 60, 60); }
.fg-grey61 { color: rgb(61, 61, 61); }
.fg-grey62 { color: rgb(62, 62, 62); }
.fg-grey63 { color: rgb(63, 63, 63); }
.fg-grey64 { color: rgb(64, 64, 64); }
.fg-grey65 { color: rgb(65, 65, 65); }
.fg-grey66 { color: rgb(66, 66, 66); }
.fg-grey67 { color: rgb(67, 67, 67); }
.fg-grey68 { color: rgb(68, 68, 68); }
.fg-grey69 { color: rgb(69, 69, 69); }
.fg-grey70 { color: rgb(70, 70, 70); }
.fg-grey71 { color: rgb(71, 71, 71); }
.fg-grey72 { color: rgb(72, 72, 72); }
.fg-grey73 { color: rgb(73, 73, 73); }
.fg-grey74 { color: rgb(74, 74, 74); }
.fg-grey75 { color: rgb(75, 75, 75); }
.fg-grey76 { color: rgb(76, 76, 76); }
.fg-grey77 { color: rgb(77, 77, 77); }
.fg-grey78 { color: rgb(78, 78, 78); }
.fg-grey79 { color: rgb(79, 79, 79); }
.fg-grey80 { color: rgb(80, 80, 80); }
.fg-grey81 { color: rgb(81, 81, 81); }
.fg-grey82 { color: rgb(82, 82, 82); }
.fg-grey83 { color: rgb(83, 83, 83); }
.fg-grey84 { color: rgb(84, 84, 84); }
.fg-grey85 { color: rgb(85, 85, 85); }
.fg-grey86 { color: rgb(86, 86, 86); }
.fg-grey87 { color: rgb(87, 87, 87); }
.fg-grey88 { color: rgb(88, 88, 88); }
.fg-grey89 { color: rgb(89, 89, 89); }
.fg-grey90 { color: rgb(90, 90, 90); }
.fg-grey91 { color: rgb(91, 91, 91); }
.fg-grey92 { color: rgb(92, 92, 92); }
.fg-grey93 { color: rgb(93, 93, 93); }
.fg-grey94 { color: rgb(94, 94, 94); }
.fg-grey95 { color: rgb(95, 95, 95); }
.fg-grey96 { color: rgb(96, 96, 96); }
.fg-grey97 { color: rgb(97, 97, 97); }
.fg-grey98 { color: rgb(98, 98, 98); }
.fg-grey99 { color: rgb(99, 99, 99); }
.fg-grey100 { color: rgb(100, 100, 100); }
.fg-grey101 { color: rgb(101, 101, 101); }
.fg-grey102 { color: rgb(102, 102, 102); }
.fg-grey103 { color: rgb(103, 103, 103); }
.fg-grey104 { color: rgb(104, 104, 104); }
.fg-grey105 { color: rgb(105, 105, 105); }
.fg-grey106 { color: rgb(106, 106, 106); }
.fg-grey107 { color: rgb(107, 107, 107); }
.fg-grey108 { color: rgb(108, 108, 108); }
.fg-grey109 { color: rgb(109, 109, 109); }
.fg-grey110 { color: rgb(110, 110, 110); }
.fg-grey111 { color: rgb(111, 111, 111); }
.fg-grey112 { color: rgb(112, 112, 112); }
.fg-grey113 { color: rgb(113, 113, 113); }
.fg-grey114 { color: rgb(114, 114, 114); }
.fg-grey115 { color: rgb(115, 115, 115); }
.fg-grey116 { color: rgb(116, 116, 116); }
.fg-grey117 { color: rgb(117, 117, 117); }
.fg-grey118 { color: rgb(118, 118, 118); }
.fg-grey119 { color: rgb(119, 119, 119); }
.fg-grey120 { color: rgb(120, 120, 120); }
.fg-grey121 { color: rgb(121, 121, 121); }
.fg-grey122 { color: rgb(122, 122, 122); }
.fg-grey123 { color: rgb(123, 123, 123); }
.fg-grey124 { color: rgb(124, 124, 124); }
.fg-grey125 { color: rgb(125, 125, 125); }
.fg-grey126 { color: rgb(126, 126, 126); }
.fg-grey127 { color: rgb(127, 127, 127); }
.fg-grey128 { color: rgb(128, 128, 128); }
.fg-grey129 { color: rgb(129, 129, 129); }
.fg-grey130 { color: rgb(130, 130, 130); }
.fg-grey131 { color: rgb(131, 131, 131); }
.fg-grey132 { color: rgb(132, 132, 132); }
.fg-grey133 { color: rgb(133, 133, 133); }
.fg-grey134 { color: rgb(134, 134, 134); }
.fg-grey135 { color: rgb(135, 135, 135); }
.fg-grey136 { color: rgb(136, 136, 136); }
.fg-grey137 { color: rgb(137, 137, 137); }
.fg-grey138 { color: rgb(138, 138, 138); }
.fg-grey139 { color: rgb(139, 139, 139); }
.fg-grey140 { color: rgb(140, 140, 140); }
.fg-grey141 { color: rgb(141, 141, 141); }
.fg-grey142 { color: rgb(142, 142, 142); }
.fg-grey143 { color: rgb(143, 143, 143); }
.fg-grey144 { color: rgb(144, 144, 144); }
.fg-grey145 { color: rgb(145, 145, 145); }
.fg-grey146 { color: rgb(146, 146, 146); }
.fg-grey147 { color: rgb(147, 147, 147); }
.fg-grey148 { color: rgb(148, 148, 148); }
.fg-grey149 { color: rgb(149, 149, 149); }
.fg-grey150 { color: rgb(150, 150, 150); }
.fg-grey151 { color: rgb(151, 151, 151); }
.fg-grey152 { color: rgb(152, 152, 152); }
.fg-grey153 { color: rgb(153, 153, 153); }
.fg-grey154 { color: rgb(154, 154, 154); }
.fg-grey155 { color: rgb(155, 155, 155); }
.fg-grey156 { color: rgb(156, 156, 156); }
.fg-grey157 { color: rgb(157, 157, 157); }
.fg-grey158 { color: rgb(158, 158, 158); }
.fg-grey159 { color: rgb(159, 159, 159); }
.fg-grey160 { color: rgb(160, 160, 160); }
.fg-grey161 { color: rgb(161, 161, 161); }
.fg-grey162 { color: rgb(162, 162, 162); }
.fg-grey163 { color: rgb(163, 163, 163); }
.fg-grey164 { color: rgb(164, 164, 164); }
.fg-grey165 { color: rgb(165, 165, 165); }
.fg-grey166 { color: rgb(166, 166, 166); }
.fg-grey167 { color: rgb(167, 167, 167); }
.fg-grey168 { color: rgb(168, 168, 168); }
.fg-grey169 { color: rgb(169, 169, 169); }
.fg-grey170 { color: rgb(170, 170, 170); }
.fg-grey171 { color: rgb(171, 171, 171); }
.fg-grey172 { color: rgb(172, 172, 172); }
.fg-grey173 { color: rgb(173, 173, 173); }
.fg-grey174 { color: rgb(174, 174, 174); }
.fg-grey175 { color: rgb(175, 175, 175); }
.fg-grey176 { color: rgb(176, 176, 176); }
.fg-grey177 { color: rgb(177, 177, 177); }
.fg-grey178 { color: rgb(178, 178, 178); }
.fg-grey179 { color: rgb(179, 179, 179); }
.fg-grey180 { color: rgb(180, 180, 180); }
.fg-grey181 { color: rgb(181, 181, 181); }
.fg-grey182 { color: rgb(182, 182, 182); }
.fg-grey183 { color: rgb(183, 183, 183); }
.fg-grey184 { color: rgb(184, 184, 184); }
.fg-grey185 { color: rgb(185, 185, 185); }
.fg-grey186 { color: rgb(186, 186, 186); }
.fg-grey187 { color: rgb(187, 187, 187); }
.fg-grey188 { color: rgb(188, 188, 188); }
.fg-grey189 { color: rgb(189, 189, 189); }
.fg-grey190 { color: rgb(190, 190, 190); }
.fg-grey191 { color: rgb(191, 191, 191); }
.fg-grey192 { color: rgb(192, 192, 192); }
.fg-grey193 { color: rgb(193, 193, 193); }
.fg-grey194 { color: rgb(194, 194, 194); }
.fg-grey195 { color: rgb(195, 195, 195); }
.fg-grey196 { color: rgb(196, 196, 196); }
.fg-grey197 { color: rgb(197, 197, 197); }
.fg-grey198 { color: rgb(198, 198, 198); }
.fg-grey199 { color: rgb(199, 199, 199); }
.fg-grey200 { color: rgb(200, 200, 200); }
.fg-grey201 { color: rgb(201, 201, 201); }
.fg-grey202 { color: rgb(202, 202, 202); }
.fg-grey203 { color: rgb(203, 203, 203); }
.fg-grey204 { color: rgb(204, 204, 204); }
.fg-grey205 { color: rgb(205, 205, 205); }
.fg-grey206 { color: rgb(206, 206, 206); }
.fg-grey207 { color: rgb(207, 207, 207); }
.fg-grey208 { color: rgb(208, 208, 208); }
.fg-grey209 { color: rgb(209, 209, 209); }
.fg-grey210 { color: rgb(210, 210, 210); }
.fg-grey211 { color: rgb(211, 211, 211); }
.fg-grey212 { color: rgb(212, 212, 212); }
.fg-grey213 { color: rgb(213, 213, 213); }
.fg-grey214 { color: rgb(214, 214, 214); }
.fg-grey215 { color: rgb(215, 215, 215); }
.fg-grey216 { color: rgb(216, 216, 216); }
.fg-grey217 { color: rgb(217, 217, 217); }
.fg-grey218 { color: rgb(218, 218, 218); }
.fg-grey219 { color: rgb(219, 219, 219); }
.fg-grey220 { color: rgb(220, 220, 220); }
.fg-grey221 { color: rgb(221, 221, 221); }
.fg-grey222 { color: rgb(222, 222, 222); }
.fg-grey223 { color: rgb(223, 223, 223); }
.fg-grey224 { color: rgb(224, 224, 224); }
.fg-grey225 { color: rgb(225, 225, 225); }
.fg-grey226 { color: rgb(226, 226, 226); }
.fg-grey227 { color: rgb(227, 227, 227); }
.fg-grey228 { color: rgb(228, 228, 228); }
.fg-grey229 { color: rgb(229, 229, 229); }
.fg-grey230 { color: rgb(230, 230, 230); }
.fg-grey231 { color: rgb(231, 231, 231); }
.fg-grey232 { color: rgb(232, 232, 232); }
.fg-grey233 { color: rgb(233, 233, 233); }
.fg-grey234 { color: rgb(234, 234, 234); }
.fg-grey235 { color: rgb(235, 235, 235); }
.fg-grey236 { color: rgb(236, 236, 236); }
.fg-grey237 { color: rgb(237, 237, 237); }
.fg-grey238 { color: rgb(238, 238, 238); }
.fg-grey239 { color: rgb(239, 239, 239); }
.fg-grey240 { color: rgb(240, 240, 240); }
.fg-grey241 { color: rgb(241, 241, 241); }
.fg-grey242 { color: rgb(242, 242, 242); }
.fg-grey243 { color: rgb(243, 243, 243); }
.fg-grey244 { color: rgb(244, 244, 244); }
.fg-grey245 { color: rgb(245, 245, 245); }
.fg-grey246 { color: rgb(246, 246, 246); }
.fg-grey247 { color: rgb(247, 247, 247); }
.fg-grey248 { color: rgb(248, 248, 248); }
.fg-grey249 { color: rgb(249, 249, 249); }
.fg-grey250 { color: rgb(250, 250, 250); }
.fg-grey251 { color: rgb(251, 251, 251); }
.fg-grey252 { color: rgb(252, 252, 252); }
.fg-grey253 { color: rgb(253, 253, 253); }
.fg-grey254 { color: rgb(254, 254, 254); }
.fg-white { color: rgb(255, 255, 255); }
