:root {
    --black: rgb(0, 0, 0);
    --grey5: rgb(5, 5, 5);
    --grey10: rgb(10, 10, 10);
    --grey15: rgb(15, 15, 15);
    --grey20: rgb(20, 20, 20);
    --grey25: rgb(25, 25, 25);
    --grey30: rgb(30, 30, 30);
    --grey35: rgb(35, 35, 35);
    --grey40: rgb(40, 40, 40);
    --grey45: rgb(45, 45, 45);
    --grey50: rgb(50, 50, 50);
    --grey55: rgb(55, 55, 55);
    --grey60: rgb(60, 60, 60);
    --grey65: rgb(65, 65, 65);
    --grey70: rgb(70, 70, 70);
    --grey75: rgb(75, 75, 75);
    --grey80: rgb(80, 80, 80);
    --grey85: rgb(85, 85, 85);
    --grey90: rgb(90, 90, 90);
    --grey95: rgb(95, 95, 95);
    --grey100: rgb(100, 100, 100);
    --grey105: rgb(105, 105, 105);
    --grey110: rgb(110, 110, 110);
    --grey115: rgb(115, 115, 115);
    --grey120: rgb(120, 120, 120);
    --grey125: rgb(125, 125, 125);
    --grey130: rgb(130, 130, 130);
    --grey135: rgb(135, 135, 135);
    --grey140: rgb(140, 140, 140);
    --grey145: rgb(145, 145, 145);
    --grey150: rgb(150, 150, 150);
    --grey155: rgb(155, 155, 155);
    --grey160: rgb(160, 160, 160);
    --grey165: rgb(165, 165, 165);
    --grey170: rgb(170, 170, 170);
    --grey175: rgb(175, 175, 175);
    --grey180: rgb(180, 180, 180);
    --grey185: rgb(185, 185, 185);
    --grey190: rgb(190, 190, 190);
    --grey195: rgb(195, 195, 195);
    --grey200: rgb(200, 200, 200);
    --grey205: rgb(205, 205, 205);
    --grey210: rgb(210, 210, 210);
    --grey215: rgb(215, 215, 215);
    --grey220: rgb(220, 220, 220);
    --grey225: rgb(225, 225, 225);
    --grey230: rgb(230, 230, 230);
    --grey235: rgb(235, 235, 235);
    --grey240: rgb(240, 240, 240);
    --grey245: rgb(245, 245, 245);
    --grey250: rgb(250, 250, 250);
    --white: rgb(255, 255, 255);
}

