.mY-0 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.mY-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.mY-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mY-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.mY-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}


.mX-0 {
	margin-left: 0px;
	margin-right: 0px;
}

.mX-5 {
	margin-left:5px;
	margin-right: 5px;
}

.mx-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.mX-15 {
	margin-left: 15px;
	margin-right: 15px;
}

.mX-20 {
	margin-left: 20px;
	margin-right: 20px;
}
