.btn {

    background-color: var(--btn-bg);
    color: var(--btn-fg);
    border-radius: var(--btn-radius);
    border-style: var(--btn-border-style);
    border-width: var(--btn-border-width);
    border-color: var(--btn-border-color);
}

.btn:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-color);
    border-color: var(--btn-hover-border-color);
}

.nav {
    background-color: var(--nav-bg);
}

.nav a {
    color: var(--nav-color);
    text-align: var(--nav-align);
}
