.btn {
    background-color: var(--btn-bg);
    color: var(--btn-fg);
    border: var(--btn-border);
    border-radius: var(--btn-radius);
}

.btn:hover {
    background-color: var(--btn-bg-hover);
    color: var(--btn-fg-hover);
    border: var(--btn-border-hover);
}

.nav {
    background-color: var(--nav-bg);
    text-align: var(--nav-align);
}

.nav a {
    color: var(--nav-fg);
    text-decoration: var(--nav-text-decoration);
}

.nav a:hover {
    color: var(--nav-fg-hover);
}

.disabledLink {
    pointer-events: none;
    cursor: default;
    --nav-fg: gray;
}

.logo {
    width: var(--logo-width);
    height: auto;
}

body {
    background-color: var(--bg);
    font-family: var(--font);
    margin: var(--body-margin);
}